.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #233b78, #4b06e0);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 12px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.temperature{
    color: white;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
}

.weather-data .col img{
    width: 42px;
    height: 40px;
    margin-top: 7px;
}
